/* Body */

body {
	padding:0;
	margin:0;
	background-color:#9c9c9c;
	font-size:0px;
}



/* Links */

a {
	color:#0000BB;
	text-decoration:none;
	overflow-wrap:anywhere;
	word-wrap: break-word;
	word-break: break-word;
}

a:visited {
	color:#0000BB;
	text-decoration:none;
	overflow-wrap:anywhere;
	word-wrap: break-word;
	word-break: break-word;
}

a:hover {
	color:#0000BB;
	text-decoration:underline;
	overflow-wrap:anywhere;
	word-wrap: break-word;
	word-break: break-word;
	}



/* Page Table */

.mobile {
	width:100%;
	border:0px solid #FFF;
	padding:12px 10px 12px 10px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
}

.whole {
	border:0px solid #FFF;
	padding:12px 0px 12px 0px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
}

.left_td {
	vertical-align:top;
	width:550px;
	padding:0;
	margin:0;
}

.center_td {
	padding:0px 15px 0px 0px;
	margin:0;
}

.right_td {
	vertical-align:top;
	width:320px;
	padding:0;
	margin:0;
}



/* Miter Header */

.header_img {
	width:47px;
	position:relative;
	margin:0;
	padding:0;
}

.header_name {
	text-align:left;
	vertical-align:middle;
	padding:0px 0px 0px 0px;
	margin:0;
}

.header_count {
	text-align:right;
	vertical-align:middle;
	padding:0;
	margin:0;
}

.name {
	text-align:left;
	font:normal 13px verdana;
	color:silver;
	text-decoration:none;
}


/* Profile */


.profile_panel_top {
	width:100%;
	border:1px solid #b2aba3;
	background-color:#fff;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.profile_td_top {
	padding:14px 14px 14px 14px;
	margin:0;
	font:normal 13px Verdana;
	color:#000000;
	line-height:24px;
}

.profile_table {
	width:100%;
	border:0px solid #fff;
	background-color:#FFF;
	margin:0;
	padding:0;
}

.profile_avatar_td {
	width:50px;
	padding:0px 0px 1px 0px;
	margin:0;
}

.avatar {
	width:50px;
	height:50px;
	border-radius:50%;
	border:0px solid #fff;
	display:block;
}

.profile_name_td {
	padding:0px 0px 0px 7px;
	margin:0;
	line-height:21px;
	overflow-wrap:break-word;
	text-align:left;
	vertical-align:middle;
}

.profile_panel_bottom {
	width:100%;
	border-width:0px 1px 1px 1px;
	border-style:solid;
	border-color:#b2aba3;
	background-color:#fff;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.profile_td_bottom {
	font:normal 13px Verdana;
	background-color:#efefef;
	padding:8px 14px 8px 14px;
	margin:0;
	color:#000000;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.subscribe_table {
	width:100%;
	font:normal 13px verdana;
	border:0px solid #fff;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
}

.subscribe_left {
	text-align:left;
	vertical-align:middle;
	padding:0;
	margin:0;
}

.subscribe_right {
	text-align:right;
	vertical-align:middle;
	padding:0;
	margin:0;
}



/* Miter Table */


.last_table {
	width:100%;
	font:normal 13px verdana;
	border:1px solid #b2aba3;
	background-color:#FFF;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
	border-radius:5px;
}

.last_table_pin {
	width:100%;
	font:normal 13px verdana;
	border:1px solid #b2aba3;
	background-color:#FFF;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
	border-radius:5px;
}

.last_table_td {
	padding:14px 14px 13px 14px;
	margin:0;
	line-height:20px;
	overflow-wrap:break-word;
}



/* Miter Footer */


.footer_table {
	border:0px solid #FFF;
	padding:7px 0px 0px 0px;
	margin:0;
}

.footer_button_td {
	text-align:left;
	padding:0px 10px 0px 0px;
	margin:0;
}

.footer_button_img {
	width:18px;
	height:18px;
	border:0px solid #FFF;
}

.button_side {
	width:15px;
	height:15px;
	border:0px solid #FFF;
}

.permalink {
	font:normal 13px verdana;
	color:silver;
	text-decoration:none;
}

.permalink:hover {
	font:normal 13px verdana;
	color:silver;
	text-decoration:none;
}

.next_page {
	width:100%;
	border:1px solid #b2aba3;
	font:normal 13px verdana;
	color:#000000;
	text-align:center;
	padding:13px 14px 13px 14px;
	margin:0;
	border-radius:5px;
}


/* Miter Embeds */


.crop_container {
  width:100%;
  max-height:150px;
  cursor:pointer;
  overflow:hidden;
  margin:6px 0px -1px 0px;
}

.crop_container.expanded {
	max-height:initial;
}

.crop_container img {
	width:100%;
	text-align:center;
}

.embed_img {
	border:0px solid #FFF;
	padding:0;
	margin:6px 0px -1px 0px;
	max-width:100%;
}

.embed_yt_iso {
	padding:0;
	margin:6px 0px 4px 0px;
	position:relative;
	width:100%;
	height:0;
	padding-bottom:56.25%;
}

.embed_yt {
	padding:0;
	margin:6px 0px 0px 0px;
	position:relative;
	width:100%;
	height:0;
	padding-bottom:56.25%;
}

.yt {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.embed_video {
	padding:0;
	margin:6px 0px 0px 0px;
	position:relative;
	width:100%;
	height:0;
	padding-bottom:56.25%;
}

.video_miter {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.link_container {
	width:100%;
	border:1px solid #CCCCCC;
	background-color:#FFF;
	padding:8px 9px 9px 9px;
	margin:6px 0px 3px 0px;
	overflow-wrap:break-word;
	word-wrap:break-word;
	word-break:break-all;
	border-spacing:0px;
	border-collapse:separate;
	border-radius:5px;
}

.quote_container {
	width:100%;
	border:1px solid #CCCCCC;
	background-color:#FFF;
	padding:8px 9px 9px 9px;
	margin:6px 0px 3px 0px;
	overflow-wrap:anywhere;
	word-wrap:normal;
	border-spacing:0px;
	border-collapse:separate;
	border-radius:5px;
}

.green_text {
	color: #469546;
}


/* Miter Input Form */


.miter_input {
	width:100%;
	height:50px;
	border:0px solid #C5C5C5;
	font:normal 15px verdana;
	background-color:#FFF;
	padding:7px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.sub_button_table {
	width:100%;
	border:0px solid #888888;
	background-color:#FFF;
	padding:5px 0px 0px 0px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
}

.button_table_holder {
	border:0px solid #D5D5D5;
	background: #FFF;
	padding:0px 0px 0px 0px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
}

.sub_submit_table {
	width:100%;
	border:0px solid #888888;
	background-color:#FFF;
	padding:8px 10px 10px 15px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
    border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.upload_td {
	text-align:left;
	padding:0;
	margin:0;
}

.upload_style {
	width:190px;
	font:normal 13px verdana;
	color:#C5C5C5;
}

.miter_user_submit {
	border:1px solid #D5D5D5;
	font:normal 13px verdana;
	color:#000;
	background:#EFEFEF;
	padding:8px 45px 9px 45px;
	border-radius:5px;
}

.button_table {
	border:0px solid #888888;
	background-color:#FFF;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
}

.td_button {
	margin:0;
	padding:0;
}

.format_button {
	width:36px;
	height:32px;
	font:normal 13px verdana;
	color:#C5C5C5;
	margin:0;
	padding:0;
	text-align:center;
	text-decoration:none;
	border:0px solid #FFF;
	background-color:#FFF;
}

.link_td {
	text-align:right;
	vertical-align:middle;
	padding:0;
	margin:0;
}

.sub_link_table {
	width:100%;
	border:0px solid #AAA;
	background-color:#FFF;
	padding:8px 10px 0px 10px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
}

.miter_url_field {
	width:100%;
	font:normal 13px verdana;
	color:#C5C5C5;
	border:1px solid #D5D5D5;
	padding:8px 8px 8px 8px;
	background-color:#FFF;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	border-radius:5px;
}

.gen_table {
	width:100%;
	border:1px solid #b2aba3;
	padding:0;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
	border-radius:5px;
}

.gen_td {
	width:100%;
	border:0px solid #fff;
	padding:0;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
}


/* Login */


.space_buttons {
	width:100%;
	padding:5px 0px 0px 0px;
}

.button_table {
	border:0px solid #FFF;
	padding:7px 0px 3px 0px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
}

.button_td {
	text-align:left;
	padding:0px 10px 0px 0px;
	margin:0;
}

.button_img {
	width:18px;
	height:18px;
	border:0px solid #FFF;
}

.button_img_edit {
	width:20px;
	height:18px;
	border:0px solid #FFF;
}



/* Tenon */



.static_header {
	width:100%;
	border-width:1px 1px 0px 1px;
	border-style:solid;
	border-color:#b2aba3;
	background-color:#DDDDDD;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.static_header_td {
	padding:13px 14px 13px 14px;
	margin:0;
	overflow-wrap:anywhere;
	word-wrap:normal;
}

.title {
	font:normal 13px Verdana;
	color:#000000;
}

.static_table {
	width:100%;
	border:1px solid #b2aba3;
	background-color:#FFF;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.static_table_no_title {
	width:100%;
	border:1px solid #b2aba3;
	background-color:#FFF;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
	border-radius:5px;
}

.static_td {
	padding:14px 14px 14px 14px;
	margin:0;
	overflow-wrap:anywhere;
	word-wrap:normal;
}

.tenon {
	font:normal 13px Verdana;
	color:#000000;
	line-height:22px;
}

.youtube {
	padding:0;
	margin:1px 0px 0px 0px;
	position:relative;
	width:100%;
	height:0;
	padding-bottom:56.25%;
}

.youtube_iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.video {
	padding:0;
	margin:1px 0px 0px 0px;
	position:relative;
	width:100%;
	height:0;
	padding-bottom:56.25%;
}

.video_iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

img {
	max-width:100%;
	height:auto;
	margin:0px 0px -2px 0px;
}

.label {
	font:normal 12px verdana;
	color:#666666;
}



/* Tenon Font */



.highlight {
	background-color:#FFFFCC;
	padding:1px 0px 1px 0px;
}

.small {
	font:normal 10px Verdana;
	color:#888888;
}

pre {
	font:normal 12px Verdana;
	color:#000000;
	margin:0px;
	padding:6px 7px 5px 7px;
	background-color:#FCFCFC;
	border:1px dashed #C5C5C5;
	letter-spacing:1px;
	line-height:22px;
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
	overflow-wrap:break-word;
	border-radius:5px;
}



/* Tenon Input */



.input_table {
	width:100%;
	border:0px solid #b2aba3;
	background-color:#FFF;
	padding:0;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.input_td {
	padding:0;
	margin:0;
}

.tenon_input {
	width:100%;
	height:100px;
	max-height:500px;
	border:0px solid #FFF;
	font:normal 13px verdana;
	background-color:#FFF;
	padding:6px 12px 6px 12px;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	border-spacing:0px;
	border-collapse:separate;
}

.panel_option_housing {
	width:100%;
	border:0px solid #AAA;
	background-color:#FFF;
	padding:0;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
}

.panel_option_table {
	border:0px solid #AAA;
	background-color:#FFF;
	padding:9px 0px 1px 0px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
}

.panel_option_td {
	padding:0;
	margin:0;
}

.html_table {
	width:100%;
	border:0px solid #AAA;
	background-color:#FFF;
	padding:10px 0px 5px 0px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
}

.html_td {
	padding:0;
	margin:0;
}

.html_inset_table {
	width:90%;
	border:1px solid #DDDDDD;
	background-color:#efefef;
	padding:12px 10px 4px 10px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
	border-radius:5px;
}

.html_inset_td {
	padding:0;
	margin:0;
}

.tenon_format_button {
	font:normal 13px verdana;
	color:#A5A5A5;
	margin:0px 7px 7px 0px;
	padding:6px 7px 6px 7px;
	text-align:center;
	text-decoration:none;
	border:1px solid #D5D5D5;
	background-color:#FFF;
	border-radius:4px;
}

.title_table {
	width:100%;
	border:0px solid #b2aba3;
	background-color:#FFF;
	padding:11px 10px 10px 10px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
}

.title_td {
	padding:0;
	margin:0;
}

.title_field {
	width:100%;
	font:normal 13px verdana;
	color:#000000;
	border:1px solid #A5A5A5;
	padding:6px 8px 6px 8px;
	background-color:#FFF;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	border-radius:5px;
}

.submit_table {
	width:100%;
	border:0px solid #AAA;
	background-color:#FFF;
	padding:10px 0px 15px 0px;
	margin:0;
	border-spacing:0px;
	border-collapse:separate;
    border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.submit_td {
	padding:0;
	margin:0;
}

.tenon_submit {
	border:1px solid #D5D5D5;
	font:normal 13px verdana;
	color:#000;
	background:#EFEFEF;
	padding:8px 45px 9px 45px;
	margin:0;
	border-radius:5px;
}



/* Search */



.search_field {
	width:70%;
	font:normal 13px verdana;
	color:#000000;
	border-width:1px 0px 1px 1px;
	border-style:solid;
	border-color:#A5A5A5;
	padding:6px 8px 6px 8px;
	background-color:#FFF;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

.search_submit {
	border:1px solid #A5A5A5;
	font:normal 13px verdana;
	color:#000;
	background:#EFEFEF;
	padding:6px 15px 6px 15px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.search_found {
	font:italic 13px verdana;
	color:#000;
	padding:0px 0px 0px 10px;
}



/* Panels */



.menu_header {
	width:100%;
	border-width:1px 1px 0px 1px;
	border-style:solid;
	border-color:#b2aba3;
	background-color:#DDDDDD;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.menu_header_td {
	padding:13px 14px 13px 14px;
	margin:0;
	overflow-wrap:anywhere;
	word-wrap:normal;
}

.menu_table_no_title {
	width:100%;
	border:1px solid #b2aba3;
	background-color:#FFF;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
	border-radius:5px;
}

.menu_table {
	width:100%;
	border:1px solid #b2aba3;
	background-color:#FFF;
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:separate;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.menu_td {
	padding:14px 14px 14px 14px;
	margin:0;
	font:normal 13px Verdana;
	color:#000000;
	line-height:24px;
}


/* Settings */


.settings_field {
	width:100%;
	font:normal 13px verdana;
	color:#000000;
	border-width:1px 1px 0px 1px;
	border-style:solid;
	border-color:#A5A5A5;
	padding:8px 8px 8px 8px;
	background-color:#FFF;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.settings_color_field {
	width:100%;
	height:35px;
	border-width:1px 1px 0px 1px;
	border-style:solid;
	border-color:#A5A5A5;
	padding:3px 5px 3px 5px;
	background-color:#FFF;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}


.settings_dropdown {
	width:100%;
	font:normal 13px verdana;
	color:#000000;
	border-width:1px 1px 0px 1px;
	border-style:solid;
	border-color:#A5A5A5;
	padding:8px 8px 8px 8px;
	background-color:#FFF;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.settings_field_file {
	width:100%;
	font:normal 13px verdana;
	color:#000000;
	border-width:0px;
	border-style:solid;
	border-color:#A5A5A5;
	padding:8px 8px 8px 0px;
	background-color:#FFF;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:none;
}

.settings_submit {
	width:100%;
	border:1px solid #A5A5A5;
	font:normal 13px verdana;
	color:#222222;
	background:#EFEFEF;
	padding:8px 0px 8px 0px;
	text-align:center;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.settings_submit_solo {
	width:100%;
	border:1px solid #A5A5A5;
	font:normal 13px verdana;
	color:#222222;
	background:#EFEFEF;
	padding:9px 0px 9px 0px;
	text-align:center;
	border-radius:5px;
}

.setting_table {
	width:100%;
	padding:0;
	margin:0;
	border:0pc solid #FFF;
	border-spacing:0px;
	border-collapse:separate;
	text-align:center;
}



/* Spacers */



.space_name {
	width:100%;
	padding:7px 0px 0px 0px;
}

.space_one {
	width:100%;
	padding:1px 0px 0px 0px;
}

.space_img_bot {
	width:100%;
	padding:4px 0px 0px 0px;
}

.space_three {
	width:100%;
	padding:10px 0px 0px 0px;
}

.space_permalink {
	width:100%;
	padding:8px 0px 0px 0px;
}

.quote_name {
	width:100%;
	padding:4px 0px 0px 0px;
}

.quote_permalink {
	width:100%;
	padding:5px 0px 0px 0px;
}

.bump {
	width:100%;
	padding:12px 0px 0px 0px;
}

hr {
	border:0;
	height:1px;
	background-color:#A5A5A5;
}



/* Archvie */



.archive_delete {
	width:12px;
	height:12px;
	border:0px solid #FFF;
	vertical-align:text-top;
}



/* Top Button */



.top_button {
	position:fixed;
	bottom:20px;
	float:right;
	left:85%;
	width:32px;
	height:32px;
}